body {
    background-image: url(background.png);
    margin: 0px;
    padding: 0px;
}

dl, div, p, header{
    font-size: 8pt;
    font-family: Verdana, Tahoma, sans-serif;
}

#banner {
    background-image: url(bannerbg.png);
    background-repeat: repeat-x;
    background-size: 100% 50px;

    text-align: center;
    height: 50px;
}

header {
    font-size: 12pt;
    font-weight: bold;
    text-shadow: 3px 3px #999999;
    text-align: center;
    
}

main {
    width: 800px;
    margin: 0% auto;
    border: 4px gray solid;
    border-radius: 20px;
    overflow: hidden;
}

section {
    width: 550px;
    float: left;
}

section #menu {
    height: 83px;
    background-image: url(rbg.png);
    background-repeat: repeat-x;
    background-size: 83px 100%;
    color: red;
    font-size: 48pt;
    font-weight: bold;
}

section #menu img {
    vertical-align: bottom;
}

span{
    height: 83px;
    margin: auto 0px;
}

article {
    overflow: hidden;
    
}
.review {
    width: 47%;
    margin: 10px 1%;
    vertical-align: top;
    display: inline-block;
}

.review #box {
    background-color: #E8DC9B;
    border: 2px gray solid;
    border-radius: 10px;
    padding: 5px;
    margin: 0px 0px 10px 0px;
    overflow: hidden;
}

.review img {
    float: left;
}

.review p:not(#box) {
    margin: 0px 0px 15pt 0px;
    overflow: hidden;
}

#italic {
    font-style: italic;
}

aside {
    width: 250px;
    background-color: #A2B964;
    float: right;
}

aside dl {
    margin: 10pt;
    font-family: Arial, sans-serif;
    font-size: 8pt;
}

aside dl dt {
    font-weight: bold;
    margin-top: 10pt;
}

aside ul {
    list-style: none;
}

#link {
    margin: 0px;
}

footer {
    background-color: #A2B964;
    padding: 5px;
    clear: both;
    text-align: center;
}

#w3c {
    position: fixed;
    right: 0%;
    bottom: 0%;
    opacity: 0.5;
}